.secciones {
    max-width: 100rem;
    padding: auto;
    background-color: rgb(196, 144, 86);
    border: 2px solid white;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;

}

.hijo  {
    height: 7rem;


    grid-column: 1/4;
    grid-column: 1/3;

}
